/* font family */

@import url('https://fonts.cdnfonts.com/css/svn-gilroy');

/* univarsal style */

/* main hedaer and nav bar */

body {
    margin: 0;
}

.header-main {
    width: 1440px;
    height: 695px;
    border-radius: 0px 0px 40px 40px;
    background-color: #FCEED5;    
}

.nav-main {
    display: flex;
    align-items: center;
    padding: 28px 130px;
    gap: 48px;
}

.main-monito-logo {
    width: 115px;
    height: 40px;
    position: relative;
    z-index: 1;
   
}


.nav-details {
    font-size: 16px;
    color: var(--Primary-Color-Dark-Blue, #003459);
    font-weight: 700;
    text-decoration: none;
    font-family: SVN-Gilroy;
    
    
}

.search-icon {
   border: none;
   background-color: #fff;
   color: var(--Neutral-Color-40, #99A2A5);
   font-size: 14px;
   
}


.search-space {
    font-family: SVN-Gilroy;
    font-size: 14px;
    color: var(--Neutral-Color-40, #99A2A5);
    border: none;
    font-weight: 500;
    height: 20px;
    border-radius: none;
    outline: none;
    padding-right: 20px;

}

.search-container {
    width: 280px;
    height: 44px;
    border-radius: 46px;
    background: var(--Neutral-Color-00, #FDFDFD);
    display: flex;
    align-items: center;
    padding-left: 16px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
}

.search-space:hover {
    border-color: #fff;
}

.join-community a{
    text-decoration: none;
    background: var(--Primary-Color-Dark-Blue, #003459);
    color: var(--Neutral-Color-00, #FDFDFD);
    display: flex;
    width: 147px;
    height: 44px;
    justify-content: center;
    align-items: center;
    padding: 14px 28px 10px 28px;
    gap: 10px;
    border-radius: 57px;
    font-weight: 700;
    font-size: 16px;
    font-family: SVN-Gilroy; 
    margin-left: -35px;
}

.vnd-icon {
    margin: -35px;
}

.checkbtn {
    width: 32px;
    height: 32px;
    color: #00171F;
    cursor: pointer;
    display: none;
}


.rectangle {
    position: relative;
    bottom: 123px;
}


.rectangle-one {
    position: absolute;
    top: 148px;
    left: 757px;
}

.rectangle-two {
    left: 112px;
    position: absolute;
    top: 163px;
}

.rectangle-three {
    left: 728px;
    position: absolute;
    top: 200px;
}

.rectangle-four {
    position: absolute;
    left: 727px;
    top: 209px;
}

.rectangle-five {
    left: 596px;
    position: absolute;
    top: 283px;
}

.rectangle-six {
    position: absolute;
    top: 600px;
    right: 610px;
}

.rectangle-seven {
    position: absolute;
    left: 613px;
    top: 213px;
}

.one-more-friend {
    display: flex;
    margin-left: 130px;
}

.humbor-woman {
    position: absolute;
    z-index: 1;
    top:85px;
    left:  530.33px;
}

.header-title {
    position: absolute;
    z-index: 1;
    top: 138px;
    font-size: 60px;
    font-weight: 800;
    width: 465px;
    font-family: SVN-Gilroy;
    color: var(--Primary-Color-Dark-Blue-80, #002A48);
}

.header-subtitle {
    position: absolute;
    top: 200px;
    width: 452px;
    height: 60px;
    font-family: SVN-Gilroy;
    font-size: 46px;
    font-weight: 700;
    color: var(--Primary-Color-Dark-Blue-80, #002A48);
}

.rectangle-responsive {
    display: none;
}

.rectangle-responsive-one {
    display: none;
}

.humbor-woman-responsive {
    display: none;
}

.header-info {
    position: relative;
    height: 72px;
    width: 480px;
    font-family: SVN-Gilroy;
    font-size: 16px;
    font-weight: 500;
    top: 70px;
    color: #242B33;  
    line-height: 24px; 
}

.header-button {
    position: absolute;
    top: 442px;
    left: 130px;
    font-family: SVN-Gilory;    
}

.view-intro {
    padding: 14px, 28px, 10px, 28px;
    border: 1.5px solid;
    color: #003459;
    border-radius: 57px;
    width: 161px;
    height: 48px;
    background-color: #FCEED5;
    margin-right: 20px;
}

.fa-play-circle-o {
    padding-left: 8px;
}

.explore-now {
    padding: 14px 28px 10px 28px;
    border-radius: 57px;
    width: 163px;
    height: 48px;
    background: var(--Primary-Color-Dark-Blue, #003459);
    color: var(--Neutral-Color-00, #FDFDFD);
    border: none;
}

.view-intro, .explore-now {
    cursor: pointer;
}

/* main section start */

.section-parent {
    margin-right: 130px;
    margin-left: 130px;

}

.section-sub-parent {
    display: flex;  
    align-items: center;
    gap: 624px;
}

.whats-new {
    margin-top: 60px;
    width: 94px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    font-family:SVN-Gilroy;
    line-height: 24px;
    
}

.view-more {
    padding: 12px, 28px, 12px, 28px;
    width: 151px;
    height: 44px;
    margin-top: 78px;
    border-radius: 57px;
    border: 1.5px solid;
    border-color: #003459;
    cursor: pointer;
}

.title-ourpets {
    width: 357px;
    height: 36px;
    font-family: SVN-Gilroy;
    font-weight: 700px;
    font-size: 24px;
    line-height: 36px;
    color: #003459;
    margin-bottom: 28px;
}

/* dog details section */

.container {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.dog-code {
    width: 248px;
    height: 24px;
    font-family: SVN-Gilroy;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding-left: 8px;
    color: #00171F;
}

.dog-img {
    width: 264px;
    height: 264px;
}

.dog-box {
    width: 264px;
    height: 378px;
    padding: 8px 8px 0px 8px;
    gap: 8px;
    border-radius: 12px;
    color: #FDFDFD;
    box-shadow: 0px 4px 28px #00000014 ;
}

.gene {
    width: 34px;
    height: 18px;
    font-family: SVN-Gilroy;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: #667479;
    padding-right: 4px;
    padding-left: 8px;
}

.age {
    width: 34px;
    height: 18px;
    font-family: SVN-Gilroy;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: #667479;
}

.gender {
    width: 58px;
    height: 18px;
    font-family: SVN-Gilroy;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    color: #667479;
}

.gender-parent {
    width: 248px;
    height: 18px;
    display: flex;
    margin-top: -15px;
}

.dot {
    width: 18px;
    height: 18px;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    color: #667479;
    position: relative;
    bottom: 14px;
    margin-left: -15px;;
}

.price {
    width: 248px;
    height: 20px;
    font-family: SVN-Gilroy;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #00171F;
    margin-top: 24px;
    padding-left: 8px;
    padding-bottom: 20px    ;
}

/* media screen for mobile */

@media screen and (max-width: 768px) {

    .header-main {
        margin: 0;
        width: 414px;
        height: 869px;
        border-radius: 0px, 0px, 20px, 20px;
        background-color: #FCEED5;
    }

    .rectangle {
        bottom: 87px;
        left: 2px;
    }
    
    body {
        margin: 0;
        width: 414px;
        
    }

    .main-monito-logo {
        width: 92px;
        height: 32px;
        justify-content: center;
        gap: auto;
        display: flex;
        position: absolute;
        left: 151px;
        flex: auto;
        align-items: center;
        top: 22px;
    }
    
    .nav-main {
        padding: 2px 14px 0px 10px;
        height: 57px;
        gap: 0;
        justify-content: space-between;
        align-items: center;
    }

    .nav-details {
        display: none;
    }

    .checkbtn {
        display: block;
        display: flex;
        align-items: center;
        
    }

    .join-community a {
        display: none;
    }

    .search-space {
        display: none;
    }

    .search-icon {
        background-color: #FCEED5;
        color: #00171F;
        width: 23px;
        height: 23px;
        position: absolute;
        z-index: 1;
        left: 40px;
        top: -10px;
        font-size: 28px;   
    }

    .search-container {
        background-color: none  ;
        width: 0;
        height: 0;
    }

    .vnd-icon {
        display: none;
    }

    .header-title {
        width: 357px;
        height: 60px;
        position: absolute;
        top: 139px;
        left: 16px;
        font-size: 46px;
        font-weight: 800;
    }
    .header-subtitle {
        width: 275px;
        height: 38px;
        position: absolute;
        top: 199px;
        left: 16px;
        font-size: 28px;
        font-weight: 700;
        
    }

    .header-info {
        width: 382px;
        height: 54px;
        position: absolute;
        top: 249px;
        left: 16px;
        font-size: 12px;
        color: #242B33;
        line-height: 18px;
        padding-top: 20px;
    }

    .rectangle-three {
        position: absolute;
        top: 227.66px;
        left: 304.41px;
        height: 15.93px;
        width: 15.93px;
    }

    .humbor-woman {
        display: none;
    }

    .rectangle-two {
        display: none;
    }

    .rectangle-four {
        position: absolute;
        top: 233px;
        left: 302px;
        width: 12.44px;
        height: 12.44px;
    }

    .header-button {
        display: flex;
        position: absolute;
        left: 16px;
        top: 375px;
    }

    .rectangle-one {
        position: absolute;
        left: 349px;
        top: 207px;
    }


    .five-seven {
        display: none;
    }

    .rectangle-responsive {
        position: absolute;
        display: block;
        display: flex;
        top: 503px;
        left: 16.73px;
        rotate: -5.37°;
        width: 344px;
        height: 366px;
    }

    .rectangle-responsive-one {
        position: absolute;
        display: block;
        left: 14.48px;
        top: 498px;
    }

    .humbor-woman-responsive {
        display: block;
        position: absolute;
        top: 483px;
    }
}