/* font family */

@import url('https://fonts.cdnfonts.com/css/svn-gilroy');

/* univarsal style */

/* main hedaer and nav bar */

body {
    margin: 0;
}

.header-main {
    width: 1440px;
    height: 695px;
    border-radius: 0px 0px 40px 40px;
    background-color: #FFE7BA;    
}

.nav-main {
    display: flex;
    align-items: center;
    padding: 28px 130px;
    gap: 48px;
}

.main-monito-logo {
    width: 115px;
    height: 40px;
    position: relative;
    z-index: 1;
   
}


.nav-details {
    font-size: 16px;
    color: var(--Primary-Color-Dark-Blue, #003459);
    font-weight: 700;
    text-decoration: none;
    font-family: SVN-Gilroy;
    
    
}

.search-icon {
   border: none;
   background-color: #fff;
   color: var(--Neutral-Color-40, #99A2A5);
   font-size: 14px;
   
}


.search-space {
    font-family: SVN-Gilroy;
    font-size: 14px;
    color: var(--Neutral-Color-40, #99A2A5);
    border: none;
    font-weight: 500;
    height: 20px;
    border-radius: none;
    outline: none;
    padding-right: 20px;

}

.search-container {
    width: 280px;
    height: 44px;
    border-radius: 46px;
    background: var(--Neutral-Color-00, #FDFDFD);
    display: flex;
    align-items: center;
    padding-left: 16px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
}

.search-space:hover {
    border-color: #fff;
}

.join-community a{
    text-decoration: none;
    background: var(--Primary-Color-Dark-Blue, #003459);
    color: var(--Neutral-Color-00, #FDFDFD);
    display: flex;
    width: 147px;
    height: 44px;
    justify-content: center;
    align-items: center;
    padding: 14px 28px 10px 28px;
    gap: 10px;
    border-radius: 57px;
    font-weight: 700;
    font-size: 16px;
    font-family: SVN-Gilroy; 
    margin-left: -35px;
}

.vnd-icon {
    margin: -35px;
}

.checkbtn {
    width: 32px;
    height: 32px;
    color: #00171F;
    cursor: pointer;
    display: none;
}


.rectangle {
    position: relative;
    bottom: 123px;
}


.rectangle-one {
    position: absolute;
    top: 148px;
    left: 757px;
}

.rectangle-two {
    left: 112px;
    position: absolute;
    top: 163px;
}

.rectangle-three {
    left: 728px;
    position: absolute;
    top: 200px;
}

.rectangle-four {
    position: absolute;
    left: 727px;
    top: 209px;
}

.rectangle-five {
    left: 596px;
    position: absolute;
    top: 283px;
}

.rectangle-six {
    position: absolute;
    top: 600px;
    right: 610px;
}

.rectangle-seven {
    position: absolute;
    left: 613px;
    top: 213px;
}

.one-more-friend {
    display: flex;
    margin-left: 130px;
}

.humbor-woman {
    position: absolute;
    z-index: 1;
    top:85px;
    left:  538.33px;
}

.header-title {
    position: absolute;
    z-index: 1;
    top: 138px;
    font-size: 60px;
    font-weight: 800;
    width: 465px;
    font-family: SVN-Gilroy;
    color: var(--Primary-Color-Dark-Blue-80, #002A48);
}

.header-subtitle {
    position: absolute;
    top: 200px;
    width: 452px;
    height: 60px;
    font-family: SVN-Gilroy;
    font-size: 46px;
    font-weight: 700;
    color: var(--Primary-Color-Dark-Blue-80, #002A48);
}

.header-info {
    position: relative;
    height: 72px;
    width: 480px;
    font-family: SVN-Gilroy;
    font-size: 16px;
    font-weight: 500;
    top: 70px;
    color: #242B33;   
}


/* media screen for mobile */

@media screen and (max-width: 768px) {

    .header-main {
        margin: 0;
        width: 414px;
        height: 794px;
        border-radius: 0px, 0px, 20px, 20px;
    }

    .rectangle {
        bottom: 97px;
        right: 10px;
    }
    
    body {
        margin: 0;
        width: 414px;
    }

    .main-monito-logo {
        width: 92px;
        height: 32px;
        justify-content: center;
        gap: auto;
        display: flex;
        position: relative;
        left: 116px;
        flex: auto;
    }
    
    .nav-main {
        padding: 2px 14px 0px 10px;
        height: 57px;
        gap: 0;
    }

    .nav-details {
        display: none;
    }

    .checkbtn {
        display: block;
        display: flex;
        align-items: center;
        
    }

    .join-community a {
        display: none;
    }

    .search-space {
        display: none;
    }

    .search-icon {
        background-color: #ffe7ba;
        color: #00171F;
        width: 23px;
        height: 23px;
        position: relative;
        right: 14px;
        display: flex;
        align-items: center;
        
        
    }

    .search-container {
        background-color: none  ;
        width: 0;
        height: 0;
    }

    .vnd-icon {
        display: none;
    }


}