/* font family */

@import url('https://fonts.cdnfonts.com/css/svn-gilroy');

/* univarsal style */

/* main hedaer and nav bar */

body {
    margin: 0;
}

.nav-main {
    display: flex;
    align-items: center;
    padding: 28px 130px;
    gap: 48px;
}

.main-monito-logo {
    width: 115px;
    height: 40px;
    position: relative;
    z-index: 1;  
}

.nav-details {
    font-size: 16px;
    color: var(--Primary-Color-Dark-Blue, #003459);
    font-weight: 700;
    text-decoration: none;
    font-family: SVN-Gilroy;   
}

.search-icon {
    border: none;
    background-color: #fff;
    color: var(--Neutral-Color-40, #99A2A5);
    font-size: 14px;
 }

 
.search-space {
    font-family: SVN-Gilroy;
    font-size: 14px;
    color: var(--Neutral-Color-40, #99A2A5);
    border: none;
    font-weight: 500;
    height: 20px;
    border-radius: none;
    outline: none;
    padding-right: 20px;
}

.search-container {
    width: 280px;
    height: 44px;
    border-radius: 46px;
    background: var(--Neutral-Color-00, #FDFDFD);
    display: flex;
    align-items: center;
    padding-left: 16px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
}

.search-space:hover {
    border-color: #fff;
}

.join-community a{
    text-decoration: none;
    background: var(--Primary-Color-Dark-Blue, #003459);
    color: var(--Neutral-Color-00, #FDFDFD);
    display: flex;
    width: 147px;
    height: 44px;
    justify-content: center;
    align-items: center;
    padding: 14px 28px 10px 28px;
    gap: 10px;
    border-radius: 57px;
    font-weight: 700;
    font-size: 16px;
    font-family: SVN-Gilroy; 
    margin-left: -35px;
}

.vnd-icon {
    margin: -44px;
}

.checkbtn {
    width: 32px;
    height: 32px;
    color: #00171F;
    cursor: pointer;
    display: none;
}

/* setion start */

.container-5 {
    display: flex;
}

.container-5 {
    display: flex;
    width: 1180px;
    padding: 22px 20px;
    align-items: flex-start;
    gap: 34px;
    border-radius: 20px;
    border: 1px solid var(--Neutral-Color-10, #EBEEEF);
    background: var(--Neutral-Color-00, #FDFDFD);
    margin-left: 130px;
    margin-right: 130px;
    height: 924px;
}

.view-more {
    display: none;
}

.link-arrow {
    position: relative;
    left: -550px;
    top: -215px;
    z-index: 1;
}

.link-arrow-1{
    position: relative;
    top: -215px;
    left: -125px;
}

.little-img-dog {
    display: flex;
    gap: 12px;
    margin-top: 4px;
}

.guarantee-pets {
    display: flex;
    width: 536px;
    height: 30px;
    background: var(--Neutral-Color-00, #FFE7BA);
    padding: 9px 12px 9px 12px;
    border-radius: 10px;
    gap: 12px;
    margin-top: 25px;
}

.img-parcent {
    display: flex;
}

.img-parcent h3 {
    font-family: SVN-Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color: var(--Primary-Color-Dark-Blue-80, #002A48);
    padding-left: 8px;
    position: relative;
    bottom: 5px;
}

.share {
    display: flex;
    gap: 21px;
    margin-top: 25px;
    margin-left: 5px;
}

.sku {
    font-family: SVN-Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: var(--Neutral-Color-40, #99A2A5);
}
.shiba {
    font-family: SVN-Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    color: var(--Neutral-Color-100, #00171F);
}

.shiba-price {
    font-family: SVN-Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    color: var(--Primary-Color-Dark-Blue-80, #002A48);
    margin-top: -10px;
}

.contact-btn {
    height: 44px;
    padding: 14px 28px 10px 28px;
    border-radius: 57px;
    background: var(--Primary-Color-Dark-Blue, #003459);
    color: var(--Neutral-Color-00, #FDFDFD);
    cursor: pointer;
    border: none;
}

.monito-btn {
    height: 44px;
    padding: 14px 28px 10px 24px;
    border-radius: 57px;
    border: 2px solid var(--Primary-Color-Dark-Blue-80, #002A48);  
    font-family: SVN-Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    color: var(--Primary-Color-Dark-Blue-80, #002A48);
    position: relative;
    top: 16px;
    left: 20px;
    cursor: pointer;
}

.chat-btn-name {
    position: relative;
    bottom: 15px;
}

.chat-img {
    position: relative;
    bottom: 4px;
}

.shiba-container {
    display: flex;
    position: relative;
    top: 300px;
    right: 299px;
    width: 194px;
    padding: 4px 11px 2px 11px;
    align-items: center;
    color: var(--Neutral-Color-60, #667479);
    right: 387px;
    padding-top: 2px;
}

.hr {
    color: var(--Neutral-Color-100, #00171F);
    position: relative;
    width: 250px;
    
}

.responsive-img {
    display: none;
}

/* lovely container section */

.our-lovely-customer {
    margin-left: 130px;
    margin-top: 40px;
}

.lovely-container {
    display: flex;
    gap: 12px;
}

.lovely-title {
    font-family: SVN-Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; 
    color: var(--Neutral-Color-100, #00171F);
    
}

.dash-parent {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
}

.responsive-lovely {
    display: none;
}

.section-parent {
    margin-right: 130px;
    margin-left: 130px;

}

.section-sub-parent {
    display: flex;  
    align-items: center;
    gap: 670.459px;
}

.whats-new {
    margin-top: 60px;
    width: 94px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    font-family:SVN-Gilroy;
    line-height: 24px;   
}

.arrow {
    position: relative;
    top: 6px;
    padding-left: 3px;
    color: #003459;
}

.view-more {
    padding: 3px 28px 12px 28px;
    width: 151px;
    height: 44px;
    margin-top: 78px;
    border-radius: 57px;
    border: 1.5px solid;
    border-color: #003459;
    cursor: pointer;
}

.title-ourpets {
    width: 357px;
    height: 36px;
    font-family: SVN-Gilroy;
    font-weight: 700px;
    font-size: 24px;
    line-height: 36px;
    color: #003459;
    margin-bottom: 28px;
}

.container {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.dog-code {
    width: 248px;
    height: 24px;
    font-family: SVN-Gilroy;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding-left: 8px;
    color: #00171F;
}

.dog-img {
    width: 264px;
    height: 264px;
}

.dog-box {
    width: 264px;
    height: 378px;
    padding: 8px 8px 0px 8px;
    border-radius: 12px;
    color: #FDFDFD;
    box-shadow: 0px 4px 28px #00000014 ;
}

.gene {
    width: 34px;
    height: 18px;
    font-family: SVN-Gilroy;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: #667479;
    padding-right: 4px;
    padding-left: 8px;
}

.age {
    width: 34px;
    height: 18px;
    font-family: SVN-Gilroy;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: #667479;
}

.gender {
    width: 58px;
    height: 18px;
    font-family: SVN-Gilroy;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    color: #667479;
}

.gender-parent {
    width: 248px;
    height: 18px;
    display: flex;
    margin-top: -15px;
}

.gender-one {
    display: flex;
}

.gender-two {
    display: flex;
}

.dot {
    width: 18px;
    height: 18px;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    color: #667479;
    position: relative;
    bottom: 14px;
    margin-left: -15px;
}

.price {
    width: 248px;
    height: 20px;
    font-family: SVN-Gilroy;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #00171F;
    margin-top: 24px;
    padding-left: 8px;
    padding-bottom: 20px    ;
}

.dog-box-1 {
    display: none;
    width: 264px;
    height: 378px;
    padding: 8px 8px 0px 8px;
    border-radius: 12px;
    color: #FDFDFD;
    box-shadow: 0px 4px 28px #00000014 ;
}

/* register now section */

.register-now {
    width: 1440px;
    height: 500px;
    border-radius: 40px 40px 0px 0px;
    background-color: #FCEED5;
    margin-top: -47px;
    position: absolute;
    top: 2252px;
}

.register-box {
    background-color: #003459;
    width: 1180px;
    height: 100px;
    border-radius: 16px;
    padding: 32px;
    margin: 80px 130px 224px 92px;
    position: relative;
    display: flex;
}

.register-title {
    padding-left: 32px;
    width: 389px;
    height: 72px;
    font-family: SVN-Gilroy;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FDFDFD;
    padding-right: 20px;
}

.gmail-box {
    width: 725px;
    height: 72px;
    border-radius: 14px;
    padding: 12px;
    gap: 12px;
    background-color: #FFFFFF;
}

.gmail-box input {
    width: 480px;
    height: 48px;
    border-radius: 8px;
    padding: 14px 28px 10px 28px;
    border-color: #99A2A5;
    outline: none;
}

.subscribe {
    width: 173px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background-color: #003459;
    gap: 10px;
    color: #FDFDFD;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 14px 28px 10px 30px;
    cursor: pointer;

}

.contact-us {
    display: flex;
    margin-left: 92px;
    margin-right: 92px;
    gap: 624px;
    margin-top: -170px;
}

.contact-home {
    display: flex;
    gap: 60px;
}

.contact-home a {
    text-decoration: none;
    width: 71px;
    height: 24px;
    font-family: SVN-Gilroy;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #00171F;
}

.social-icon {
    display: flex;
    gap: 40px;
}

.privacy-policy {
    display: flex;
    margin-left: 92px;
    align-items: center;
    gap: 356px;
    margin-left: 92px;
    margin-top: 57px;
}

.last-title {
    width: 217px;
    height: 20px;
    font-family: SVN-Gilroy;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #667479;
}

.terms {
    display: flex;
    width: 227px;
    height: 20px;
    gap: 15px;
}

.terms a{
    text-decoration: none;
    font-family: SVN-Gilroy;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #667479;
}

.hr-1{
    margin-right: 92px;
    color: #CCD1D2;
    margin-top: 45px;
    margin-left: 92px;
}

/* media screen on mobile phones */

@media screen and (max-width: 768px) {
    body {
        margin: 0;
        width: 414px;
    }

    .responsive-img {
        display: block;
        position: absolute;
        top: 0;
        left: 0px;
        width: 414px;
    }

    .responsive-img img {
        width: 414px;
        
    }

    .nav-main, .share a, .sku, .big-dog {
        display: none;
    }

    .link-arrow {
        position: absolute;
        top: 240px;
        left: 16px;
    }

    .link-arrow-1 {
        position: absolute;
        top: 234px;
        left: 346px;
        z-index: 1;
    }

    .left-arrow {
        position: absolute;
        z-index: 1;
        top: 20px;
        left: 16px;
    }

    .warning-icon {
        position: absolute;
        top: 15px;
        right: 16px;
    }

    .container-5 {
        border: none;
        width: 414px;
        display: block;
        gap: 0;
        margin: 0;
        padding: 0;
    }

    .little-img-dog {
        position: absolute;
        left: 16px;
        top: 529px;
        gap: 10.300px;
    }

    .little-1 {
        height: 57px;
        width: 57px;
    }

    .hr-arrow {
        position:   absolute;
        left: 195px;
        top: 624px;
    }

    .shiba-inu {
        position: absolute;
        left: 16px;
        top: 650px;
        z-index: 1;
    }

    .shiba {
        position: absolute;
        left: 16px;
        top: 665px;
    }
    
    .shiba-price {
        position: absolute;
        left: 16px;
        top: 735px;
    }

    .monito-btn {
        position: absolute;
        left: 156px;
        top: 790px;
    }

    .contact-btn {
        position: absolute;
        left: 16px;
        z-index: 3;
        top: 790px;
    }

    .shiba-container-parent {
        position: absolute;
        left: 395px;
        top: 588px;
        width: 0px;
    }

    .hr {
        width: 190px;
        top: -10px;

    }

    .guarantee-pets {
        position: absolute;
        left: 16px;
        top: 1509px;
        width: 353px;
        height: 86px;
        display: block;
    }

    .img-parcent {
        position: relative;
        left: 10px;
    }

    .lovely-container {
        display: none;
    }

    .lovely-title {
        position: absolute;
        top: 1637px;
        left: 16px;
    }

    .responsive-lovely {
        display: block;
        position: absolute;
        display: flex;
        gap: 8px;
        left: 16px;
        top: 1709px;
    }

    .dash-parent {
        position: absolute;
        left: 179px;
        top: 2049px;
        z-index: 1;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .share {
        position: absolute;
        left: 328px;
        top: 832px;
        display: block;
    }

    .whats-new {
        position: absolute;
        top: 2067px;
        left: 16px;
        display: none;
    }

    .title-ourpets {
        width: 348px;
        height: 54px;
        position: absolute;
        left: 16px;
        gap: 2px;
        top: 2137px;
    }

    .container {
        grid-template-columns: repeat(2, 1fr);
        position: absolute;
        top: 2216px;
        left: 16px;
    }

    .dog-box {
        width: 169px;
        height: 317px;
    }

    .dog-img {
        width: 169px;
        height: 169px;
    }

    .dog-code {
        width: 161px;
        height: 40px;
        font-size: 14px;
        line-height: 20px;
        color: #00171F;
    }

    .gender-parent {
        width: 161px;
        height: 18px;
        font-size: 12px;
        line-height: 18px;
        display:grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .dot {
        display: none;
    }

    .gender-one {
        display: flex;
    }

    .gender-two {
        display: flex;
        position: relative;
        bottom: 20px;
        left: 8px;
    }

    .price {
        position: relative;
        top: 17px;
        width: 115px;
        height: 24px;
        font-size: 16px;
        line-height: 24px;   
    }

    .dog-box-1 {
        display: block;
        width: 169px;
        height: 317px;
    }

    .register-now {
        width: 414px;
        height: 646px;
        border-radius: 20px 20px 0px 0px;
        background-color: #FCEED5;
        position: absolute;
        top: 3321px;
    }

    .register-box {
        width: 318px;
        height: 207px;
        position: absolute;
        margin-left: 16px;
        border-radius: 16px;
        gap: 16px;
        top: -18px;
    }

    .register-title {
        position: absolute;
        left: -20px;
        top: -8px;
        font-size: 20px;
        width: 300px;
    }

    .gmail-subscribe-box {
        position: absolute;
        width: 350px;
        height: 142px;
    }

    .gmail-box {
        position: absolute;
        width: 330px;
        height: 142px;
        left: -18px;
        top: 60px;
        gap: 10px;
    }

    .subscribe {
        width: 330px;
        height: 57px;
        position: absolute;
        left: 13px;
        top: 91px;
    }

    .gmail-box input {
        width: 270px;
        height: 32px;
    }

    .contact-us {
        display: block;
        position: absolute;
        top: 580px;
    }

    .hr-1 {
        position: relative;
        top: 427px;
        z-index: 1;
        left: -5px;
    }

    .contact-home {
        position: absolute;
        top: -43px;
        left: -55px;
        gap: 40px;
    }

    .social-icon {
        position: absolute;
        top: 9px;
    }

    .privacy-policy {
        display: block;
        position: absolute;
        top: 406px;
        left: 53px;
    }

    .terms {
        position: absolute;
        top: 116px;
        left: -50px;
    }

    .last-title {
        position: relative;
        top: 136px;
        left: -24px;
        font-size: 10px;
    }
    

}  